*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(180, 180, 180);
}

/* CONTENT ROW */
    .content{
        width: 75%;
        margin: 0 auto;
        padding: 25px;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0 0 20px;
    }
/* FINE CONTENT ROW */